<!-- okienko na złapaną rybę -->
<!-- <div class="fish-window">
    <p class="title">RYBCIA</p>
    <img src="assets/karp1.png" alt="xd"><br>
    <label class="weight">Waga: 20kg</label>
    <label class="cost">Wartość: 5zł</label>
    <label class="size">Rozmiar: 120cm</label><br>
    <button type="button" class="accept">SUPER!</button>
</div> -->
<!-- okienko na zerwany zestaw -->
<!-- <div class="lost-fish">
    <p>ZARWAŁEŚ ZESTAW XDDDDDDD</p>
    <img src="https://bluemoji.io/cdn-proxy/646218c67da47160c64a84d5/66b3ea6b437be789ded213fd_45.png" alt="xdd"
        width="450px" height="450px"><br>
    <button type="button" class="accept2">SZKODA</button>
</div> -->
<div #mainScene id="mainScene"></div>
<div id="userInterface">
    <button (click)="interact()" (mousedown)="changePulling(true)" (mouseup)="changePulling(false)"
        [disabled]="isDuringEvent || maxDurability < 100">{{currState}}</button>
    <button (click)="podbierz()" [disabled]="!isPodbierable">PODBIERZ</button>
</div>
<!TU JEST KURWA TEN PRZYCISK KACPER CO MIAŁEŚ ZROBIĆ>