/* body{
    height: 960px;
    width: 960px;
} */
 .field{
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 2fr;
 }

 .left-panel{
    background-color: rgb(75, 118, 199);
 }
 
 .middle-panel{
    display: grid;
    grid-template-rows: 10% 90%;
    background-color: cornflowerblue;
 }

 .line-panel{
   background-color: rgb(75, 118, 199);
   text-align: center;
 }

 .store-panel{
   background-color: rgb(65, 103, 173);
 }