<div class="container-fluid">
    <div class="row">
      <div class="col-1 blue">
        ZNAJOMI
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-10 green">
            <app-main-scene [maxDurability]="maxDurability" (calculatePercentOnDurabilityChanged)="changeCurrDurability($event)"></app-main-scene>
          </div>
          <div class="col-2 yellow">
            PASEK KACPRA
            <app-line [durabilityPercent]="currDurabilityPercent"></app-line>
          </div>
        </div>
      </div>
      <div class="col-2 red">
        <app-shop 
        (demandItemEvent)="returnedItemChanged($event)"
        (buyItemEvent)="buyItem($event)" 
        [returnedItem]="returnedItem"
        >
        </app-shop>
      </div>
    </div>
</div>

<app-Friends></app-Friends>