<div class="field">
  <div class="left-panel">
    ZNAJOMI<br>
    <input type="checkbox" id="test">
    <input type="checkbox" id="menu-button">
    <div class="menu-content ">
      <p>xdd</p>
      <p>xdd</p>
      <p>xdd</p>
      <p>xdd</p>
      <p>xdd</p>
    </div>
    <p>lol</p>
  </div>
  <div class="middle-panel">
    <div class="poppin"></div>
    <div class="top-panel">
      RYBMY
    </div>
    <div class="game-window">
      <app-main-scene [maxDurability]="maxDurability"
        (calculatePercentOnDurabilityChanged)="changeCurrDurability($event)"></app-main-scene>
    </div>
    <!-- <div class="bottom-panel">
      xdd
    </div> -->
  </div>
  <div class="line-panel">
    PASEK KACPRA<br>
    <app-line [durabilityPercent]="currDurabilityPercent"></app-line>
  </div>
  <div class="store-panel">
    <app-shop (equipItemEvent)="maxDurabilityChanged($event)"></app-shop>
  </div>
</div>