<!-- <div class="container full-height d-flex flex-column">
    <div class="row flex-fill">
      <! ODTĄD>
      <div class="col border d-flex">
        <button (click)="changeCurrItem('wedka', -1)">prev</button> <! POPRZEDNI ITEM>
        <p>{{getItemName('wedka')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
        <button (click)="changeCurrItem('wedka', 1)">next</button> <! NASTĘPNY ITEM>
        <br>
        <button (click)="useItem('wedka')">{{getItemState('wedka')}}</button> <! KUPOWANIE/UŻYWANiE>
      </div>
    </div>
    <! DOTĄD>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">
        <div class="col border d-flex">
          <button (click)="changeCurrItem('kolowrotek', -1)">prev</button> <! POPRZEDNI ITEM>
          <p>{{getItemName('kolowrotek')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
          <button (click)="changeCurrItem('kolowrotek', 1)">next</button> <! NASTĘPNY ITEM>
          <br>
          <button (click)="useItem('kolowrotek')">{{getItemState('kolowrotek')}}</button> <! KUPOWANIE/UŻYWANiE>
        </div>
      </div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">
        <div class="col border d-flex">
          <button (click)="changeCurrItem('zylka', -1)">prev</button> <! POPRZEDNI ITEM>
          <p>{{getItemName('zylka')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
          <button (click)="changeCurrItem('zylka', 1)">next</button> <! NASTĘPNY ITEM>
          <br>
          <button (click)="useItem('zylka')">{{getItemState('zylka')}}</button> <! KUPOWANIE/UŻYWANiE>
        </div>
      </div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">Element 4</div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">Element 5</div>
    </div>
  </div> -->
<div class="tyl_sklepu">
  <div class="blok_sklep">
    <button (click)="changeCurrItem('wedka', -1)">prev</button>
    <! POPRZEDNI ITEM>
      <p>{{getItemName('wedka')}}</p>
      <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
        <button (click)="changeCurrItem('wedka', 1)">next</button>
        <! NASTĘPNY ITEM>
          <button (click)="useItem('wedka')" class="zakup">{{getItemState('wedka')}}</button>
          <! KUPOWANIE/UŻYWANiE>
  </div>
  <div class="blok_sklep">
    <button (click)="changeCurrItem('kolowrotek', -1)">prev</button>
    <! POPRZEDNI ITEM>
      <p>{{getItemName('kolowrotek')}}</p>
      <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
        <button (click)="changeCurrItem('kolowrotek', 1)">next</button>
        <! NASTĘPNY ITEM>
          <button (click)="useItem('kolowrotek')" class="zakup">{{getItemState('kolowrotek')}}</button>
          <! KUPOWANIE/UŻYWANiE>
  </div>
  <div class="blok_sklep">
    <button (click)="changeCurrItem('zylka', -1)">prev</button>
    <! POPRZEDNI ITEM>
      <p>{{getItemName('zylka')}}</p>
      <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
        <button (click)="changeCurrItem('zylka', 1)">next</button>
        <! NASTĘPNY ITEM>
          <button (click)="useItem('zylka')" class="zakup">{{getItemState('zylka')}}</button>
          <! KUPOWANIE/UŻYWANiE>
  </div>
  <div class="blok_sklep">
    Element 4
  </div>
  <div class="blok_sklep">
    Element 5
  </div>
</div>