<div class="containers-placement">
  <div class="containero">  <!-- <! ODTĄD> -->
    <div class="upper-row">
      <button (click)="changeItem('Wędka', -1)">prev</button> <!-- POPRZEDNI ITEM> -->
      <p>{{getItemOfTypeAtID('Wędka').getName()}}</p> <!-- OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>-->
      <button (click)="changeItem('Wędka', 1)">next</button> <!-- NASTĘPNY ITEM>-->
    </div>
    <div class="bottom-row">
      <button (click)="useItem('Wędka')">{{checkItemState('Wędka')}}</button> <!-- KUPOWANIE/UŻYWANiE>-->
    </div>
  </div>  <!-- <! DOTĄD> -->
  <div class="containero">
    <div class="upper-row">
      <button (click)="changeItem('Kołowrotek', -1)">prev</button> <!-- POPRZEDNI ITEM> -->
      <p>{{getItemOfTypeAtID('Kołowrotek').getName()}}</p> <!-- OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>-->
      <button (click)="changeItem('Kołowrotek', 1)">next</button> <!-- NASTĘPNY ITEM>-->
    </div>
    <div class="bottom-row">
      <button (click)="useItem('Kołowrotek')">{{checkItemState('Kołowrotek')}}</button> <!-- KUPOWANIE/UŻYWANiE>-->
    </div>
  </div>
  <div class="containero">
    <div class="upper-row">
      <button (click)="changeItem('Żyłka', -1)">prev</button> <!-- POPRZEDNI ITEM> -->
      <p>{{getItemOfTypeAtID('Żyłka').getName()}}</p> <!-- OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>-->
      <button (click)="changeItem('Żyłka', 1)">next</button> <!-- NASTĘPNY ITEM>-->
    </div>
    <div class="bottom-row">
      <button (click)="useItem('Żyłka')">{{checkItemState('Żyłka')}}</button> <!-- KUPOWANIE/UŻYWANiE>-->
    </div>
  </div>
  <div class="containero">
    <div class="upper-row">
      <button>prev</button> <!-- POPRZEDNI ITEM> -->
      <p>XD</p> <!-- OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>-->
      <button>next</button> <!-- NASTĘPNY ITEM>-->
    </div>
    <div class="bottom-row">
      <button>XD</button> <!-- KUPOWANIE/UŻYWANiE>-->
    </div>
  </div>
  <div class="containero">
    <div class="upper-row">
      <button>prev</button> <!-- POPRZEDNI ITEM> -->
      <p>XD</p> <!-- OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>-->
      <button>next</button> <!-- NASTĘPNY ITEM>-->
    </div>
    <div class="bottom-row">
      <button>XD</button> <!-- KUPOWANIE/UŻYWANiE>-->
    </div>
  </div>
</div>
