<div class="container full-height d-flex flex-column">
    <div class="row flex-fill">
      <! ODTĄD>
      <div class="col border d-flex">
        <button (click)="changeItem('Wedka', -1)">prev</button> <! POPRZEDNI ITEM>
        <p>{{getItemName('Wedka')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
        <button (click)="changeItem('Wedka', 1)">next</button> <! NASTĘPNY ITEM>
        <br>
        <button (click)="useItem('Wedka')">{{checkItemState('Wedka')}}</button> <! KUPOWANIE/UŻYWANiE>
      </div>
    </div>
    <! DOTĄD>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">
        <div class="col border d-flex">
          <button (click)="changeItem('Kolowrotek', -1)">prev</button> <! POPRZEDNI ITEM>
          <p>{{getItemName('Kolowrotek')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
          <button (click)="changeItem('Kolowrotek', 1)">next</button> <! NASTĘPNY ITEM>
          <br>
          <button (click)="useItem('Kolowrotek')">{{checkItemState('Kolowrotek')}}</button> <! KUPOWANIE/UŻYWANiE>
        </div>
      </div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">
        <div class="col border d-flex">
          <button (click)="changeItem('Zylka', -1)">prev</button> <! POPRZEDNI ITEM>
          <p>{{getItemName('Zylka')}}</p> <! OBECNY ITEM, TU BĘDZIE ZDJĘCIE JAK DRZAŁA JE OGARNIE>
          <button (click)="changeItem('Zylka', 1)">next</button> <! NASTĘPNY ITEM>
          <br>
          <button (click)="useItem('Zylka')">{{checkItemState('Zylka')}}</button> <! KUPOWANIE/UŻYWANiE>
        </div>
      </div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">Element 4</div>
    </div>
    <div class="row flex-fill">
      <div class="col border d-flex justify-content-center align-items-center">Element 5</div>
    </div>
  </div>