.gauge {
    width: 30em;
    height: 2em;
    position: relative;
    background-color: #ccc;
  }
  
  .gauge > * {
    top:0;
    right:0;
    bottom:0;
    left:0;
    position: absolute;
  }
  
  .meter-gauge {
    background-image: linear-gradient(to bottom,
        #70f600 20%,
        #0e0 20%,
        #0e0 40%,
        #0d0 40%,
        #0d0 60%,
        #0c0 60%,
        #0c0 80%,
        #0b0 80%,
        #0b0 100%);   
  }
  
  .negative-space {
    background-image: linear-gradient(to bottom,
        #ddd 20%,
        #ccc 20%,
        #ccc 40%,
        #bbb 40%,
        #bbb 60%,
        #aaa 60%,
        #aaa 80%,
        #999 80%,
        #999 100%);
    clip-path: inset(0 0 0 30%);
  }
  