.gauge {
  width: 60%;
  height: 95%;
  position: relative;
  background-color: #5c4d00;
  background-image: url(http://www.transparenttextures.com/patterns/wood-pattern.png);
  left: 50%;
  transform: translateX(-50%);
 }
  
.gauge > * {
  top:15px;
  right:15px;
  bottom:15px;
  left:15px;
  position: absolute;
}
  
.meter-gauge {
  background: linear-gradient(red,orange, yellow, lightgreen, green, green, lightgreen, yellow, orange, red);  
}
  
.negative-space {
  background: black;
  clip-path: inset(0 0 var(--cos, 50%) 0); /*tu jest wartość do zmiany zapełnienia wskaźnika!!! */
}

  
  